/* css reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* inizio header */
.box-header{
    background-color: #2A5EE8;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    height: 610px;
    
}
           /***************** nav bar ***************** */
.nav{
    background-color: #2A5EE8;
    width: 1250px;
    margin: auto;
    align-items: center;
    display: flex;
    padding:3px;
    margin-top: 1%;   
}

.logo{
    width: 25%;
    display: flex;
}

.link a{
    color: white;
    margin: auto;
    padding: 2px;
    text-decoration: none;
}   
.link{
    justify-content: center;
    width: 50%;
    display: flex;
}

.login {
    justify-content: flex-end;
    width: 25%;
    display: flex;
}

.login button{
    font-weight: bold;
    background-color: white;
    padding: 7px 15px;
    border-radius: 30px;
    border:1px solid white;
}
         /**************** fine nav ***************** /

/* Jumbotron blu con box rosa */
.jumbotron{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
    width: 100%;
}

.big-box{
    flex-wrap: wrap;
    margin: auto;
    display:flex;
    height: 350px;
    width: 900px;
    
    justify-content: center;
}

.big-box h1{
    font-size: 45px;
    color: white;
    margin: auto;
    
    
}

 .big-box p {
    font-size: medium;
    text-align: center;
    color: white;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.big-box button {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 15px;
    border-radius: 30px;
}

#button1{
    background-color: #23272A;
    color: white;
}


/* fine header */

/* main */

/* primo box */
.box-main{
    display: flex;
    height: 625px;
}

.container{
    margin: auto;
    width: 1250px;
    display: flex;
}
.box-blu{
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    width: calc(70%);
    height: 30rem;
    
}

.box-pink{
    font-size: 25px;    
    justify-content: center;
    width: calc(30%);
    height: 30rem;
    
}
.box-pink h1{
    
    font-size: 40px;
    padding-right: 100px;
}
.box-pink p{
    
    padding-top: 50px;
    font-size: 20px;
}

/* secondo box */

.box-main1{
   background-color: #F6F6F6;
    display: flex;
    height: 625px;
}

.container{
    
    margin: auto;
    width: 1250px;
    display: flex;
}
.box-blu1{
    width: calc(30%);
    height: 30rem;
    
}

.box-pink1{
    background-image: url(../img/item2.svg);
    padding-left: 150px;
    background-repeat: no-repeat;
    width: calc(70%);
    height: 30rem;
    
}

.box-blu1 h1{
    
    font-size: 40px;
    padding-right: 100px;
    
}
.box-blu1 p{
    text-align: justify;
    padding-top: 50px;
    font-size: 20px;
}
 /* terzo box */
 .container{
    margin: auto;
    width: 1250px;
    display: flex;
}
.box-blu2{
    background-image: url(../img/item3.svg);
    background-repeat: no-repeat;
    width: calc(70%);
    height: 30rem;
    
}

.box-pink2{
   
    width: calc(30%);
    height: 30rem;
   
    
}

.box-pink2 h1{
    
    font-size: 40px;
    padding-right: 100px;
    
}
.box-pink2 p{
    
    padding-top: 50px;
    font-size: 20px;
}
/* box verde */
.grey-box{
    flex-wrap: wrap;
    margin-top: 1rem;
   display: flex;
    height: 1040px;;
    background-color: #F6F6F6;
}

.green-box{
    margin: auto;
    display:flex;
    background-image: url(../img/item4-big.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    width: 1250px;
    
    }
.green-box div{
    margin: 0 auto;
    width: 70%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}
.green-box h1{
    margin: auto;
    padding: 10px;
}

.green-box p{
    text-align: center;
    padding-top: 20px;
}

.avventura{
    background-color: #F6F6F6;
    margin: 0 auto;
    display: flex;
    width:100%;
    justify-content: center;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    }

.avventura button{
    background-color: #7289DA;
    margin: auto;
    padding: 15px;
    border-radius: 30px;
    color: white;
    font-size: medium;
}
/* fine box verde */

/* inizio footer */
.box-footer{
    display: flex;
    height: 660px;
    background-color:  #23272A;
    
}
.container-footer{
    margin: auto;
    width: 1250px;
    display: flex;
}
/* box diviso */
.box-red{
    border-style: dashed;
    margin-bottom: 40px;
    background-color: #F08080;
    width: calc(60%);
    height: 600px;
   
}

.box-acqua{ 
    margin-bottom: 40px;
    background-color: #20B2AA;
    width: calc(40%);
    height: 600px;
    border-style: dashed;
    border-color: white;
    
}
/* hr e finale */

.box-footer1{
    display: flex;
    height: 70px;
    background-color: #23272A;
}

.final-footer{
    justify-content: space-between;
    display: flex;
    width: 1200px;
    margin: auto;
    align-items: center;
    height: 3rem;
    margin-top: 1rem;   
    background-color: #7FFFD4;
       
}

.logo-footer{  
    background-color: #FFB6C1;
    width: fit-content;
    height: fit-content;
    display: flex;
    border-style: dashed;
}

.button-footer{
    background-color: #FFB6C1;
    width: fit-content;
    height: fit-content;
    display: flex;
    border-style: dashed;
}

/* fine */